:root{
    --voidMainColor: #ff0059;
    --voidInputColor: #1d2129;
    --voidBackgroundWhite: #fff;
    --voidBorderBlack: 1px solid black;
    --voidBorderDarkGray: 1px solid #999;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  overflow: hidden;
}

body{
  color: black;
  background: #fff;
  background-image: url('assets/pattern.png');
  background-repeat: repeat;
}

a {
  color: var(--voidMainColor);
}

.container{
  min-width: 320px;
  max-width: 480px;
  margin: 20px auto;
  padding: 0 20px;
}

/* Login & Register Pages */
.logo--wrapper {
  text-align: center;
  padding: 20px 0;
}

.logo--image {
  min-width: 320px;
  width: 100%;
  max-width: 480px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  padding-bottom: 20px;
}

.logo--smallImage {
  min-width: 250px;
  width: 100%;
  max-width: 250px;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  padding-bottom: 20px;
}

.auth--container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper{
  width: 600px;
  width: 600px;
  padding: 2em;
}

.field--wrapper{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}

.login--testCredsContainer {
  background-color: #fbfbfb;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  max-width: 320px;
  border: 2.5px dashed #ccc;
  border-radius: 10px;
  color: #666;
  opacity: 95%;
}

.login--testCreds {
  margin-top: 5px;
  color: #aaa;
}

.test--email, .test--password {
  color: var(--voidInputColor);
}

/* Form Input Styling */
input[type="text"], input[type="password"], input[type="email"], textarea{
  background: #fff;
  border: none;
  border-bottom: var(--voidBorderDarkGray);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}

.input--credentials {
  background: #fff;
  border: var(--voidBorderBlack);
  color: var(--voidInputColor);;
  border-radius: 15px;
}

.textarea--void {
  transform: translateY(-30px);
  background: #fff;
  border: var(--voidBorderBlack);
  border-radius: 15px;
  color: var(--voidInputColor);;
  font-size: 14px;
  resize: none;
  flex: 1;
  margin-right: 5px;
  height: 100px;
}

.textarea--void::placeholder {
  color: var(--voidInputColor);;
}

#releaseButton {
  background-color: white;
  border: var(--voidBorderBlack);
  color: black;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%,-23px);
  width: 80px;
  font-size: 13px;
}

#releaseButton:hover {
  background-color: var(--voidMainColor);
  border: 1px solid var(--voidMainColor);;
  color: #fff;
}

/* Button Styling */
.btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--lg{
  padding: 1em 2em;
}

.btn--main{
  background-color: var(--voidMainColor);
  color: #fff;
}

.btn--secondary{
  background-color: var(--voidMainColor);
  color: #fff;
}

.btn:hover{
  opacity: 0.7;
}

/* Header Styling */
#header--wrapper{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  background-color: var(--voidBackgroundWhite);
  border: var(--voidBorderDarkGray);
  border-bottom: none;
  position: relative;
  z-index: 10000000px;
}

.header--text {
  font-size: 18px;
  color: #555;
  padding-left: 20px;
}

.header--username {
  font-size: 26px;
  color: #333;
}

.header--link{
  position: absolute;
  right: calc(50% - 212px);
  transform: translateY(-45px);
  color: #333;
  width: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.header--link:hover{
  color: var(--voidMainColor);
}

/* Room Styling */
.room--container{
  padding: 2em;
  border-radius: 0 0 10px 10px;
  border: var(--voidBorderDarkGray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .11);
  border-top: none;
  background-color: var(--voidBackgroundWhite);
}

#message--form{
  gap: 0.5em;
}

.send-btn--wrapper{
  margin-left: 10px;
}

.messages--container {
  transform: translateY(-30px);
}

.messages--wrapper {
  background: white;
  border: 0.5px solid #666;
  border-radius: 15px;
  margin-top: 20px;
}

.message--wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  margin:1em;
}

.message--header{
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 10px;
}

.message--body{
  padding: 0.5em 0;
  background-color: transparent;
  padding: 0 1em 1em 1em;
  border-radius: 20px;
  width:fit-content;
  max-width: 100%;
  word-wrap: break-word;
  font-size: 15px;
  color: #5f5f5f;
}

.message--username {
  color: #2c2c2c;
  text-transform: lowercase;
}

.message--timestamp{
  margin-left: 1em;
  color: #a5a5a5;
  color: #b5b5b5;
  text-transform: none;
}

.delete--btn{
  color: rgb(220,220,220);
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
  transform: translate(-10px, -4px);
}

.delete--btn:hover{
  color: var(--voidMainColor);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.void {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('assets/void.png');
  background-size: 1000px 100px;
}

.void#void1{
  z-index: 1000;
  opacity: 0.8;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

.void#void2{
  z-index: 999;
  opacity: 0.4;
  bottom: 10px;
  animation: animateWaveReverse 4s linear infinite;
}
.void#void3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

.void#void4{
  z-index: 999;
  opacity: 0.6;
  bottom: 20px;
  animation: animateWaveReverse 3s linear infinite;
}

@keyframes animateWave
{
  0%
  {
      background-position-x: 1000px;
  }
  100%
  {
      background-position-x: 0px;
  }
}

@keyframes animateWaveReverse
{
  0%
  {
      background-position-x: 0px;
  }
  100%
  {
      background-position-x: 1000px;
  }
}

::selection {
  background: var(--voidMainColor);
  color: #fff;
}
::-moz-selection {
  background: var(--voidMainColor);
  color: #fff;
}

/* iPhone */
@media only screen
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .header--text {
    font-size: 15px;
  }
  .header--username {
    font-size: 23px;
  }
  .header--link {
    right: 5px;
    transform: translateY(-43px);
  }
}

@media only screen
  and (max-device-width: 350px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .header--text {
    font-size: 13px;
  }
  .header--username {
    font-size: 18px;
  }
  .header--link {
    transform: translateY(-35px);
  }
  .message--timestamp{
    font-size: 11px;
  }
}
